.products-container {
	max-width: 650px;
	justify-content: space-around;
	margin: 0 auto;
	/* også for cart */
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-bottom: 100px;
}

.cartH1 {
	padding-top: 20px;
	text-align: center;
}

.product-header {
	width: 100%;
	max-width: 650px;
	display: flex;
	justify-content: flex-start;
	margin: 0 auto;
}
.products {
	width: 100%;
	max-width: 650px;
	justify-content: flex-start;
}

.product-title {
	width: 50%;
	border-bottom: 1px solid lightgrey;
}

.product-item {
	display: flex;
	width: 100%;
}
.product {
	width: 65%;
	display: flex;
	align-items: center;
	padding: 10px 0;
	border-bottom: 1px solid lightgrey;
}

.price {
	width: 15%;
	border-bottom: 1px solid lightgrey;
	display: flex;
	align-items: center;
	display: none;
}

.quantity {
	width: 15%;
	border-bottom: 1px solid lightgrey;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
}

.total {
	width: 20%;
	border-bottom: 1px solid lightgrey;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-left: 10px;
}

.emtyBasket {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.next,
.emtyBasketBtn {
	border: none;
	color: #ffffff;
	padding: 18px 32px;
	margin: 4px 2px;
	border-radius: 10px;
	cursor: pointer;
	font-size: 1em;
	text-transform: uppercase;
}

.emtyBasketBtn {
	background-color: #0a0300ab;
}

.next {
	background-color: #e93801;
}

.chechout-img {
	max-width: 40%;
	padding-right: 10px;
}

.basketTotalContainer {
	display: flex;
	width: 100%;
	padding: 10px 0;
}

.basketTotalTitle {
	width: 72%;
}

.basketTotal {
	display: flex;
	width: 20%;
	justify-content: flex-end;
}

.minus,
.plus {
	padding: 10px;
	cursor: pointer;
}

@media only screen and (min-width: 700px) {
	.product,
	.product-title {
		width: 40%;
	}
	.price,
	.quantity {
		display: flex;
	}
}
