body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  position: fixed;
  width: 100%;
  color: #ffffff;
  max-height: 65vh;
  z-index: 1;
}

footer,
.main-nav {
  background-color: #6c6666;
  color: #ffffff;
  width: 100%;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

a {
  text-decoration: none;
  color: #ffffff;
}

h1,
h2 {
  font-size: 4rem;
  color: #e93801;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  margin-bottom: 0;
}

.banner-image {
  display: flex;
  justify-content: space-between;
  padding: 10px 100px;
}

.banner {
  background-image: url("../images/background2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

nav li {
  padding: 10px 20px;
  list-style: none;
  text-decoration: none;
  display: inline-block;
}

.top-nav {
  justify-items: flex-end;
  margin-right: 10px;
}

.main-nav ul {
  margin: 0 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-nav li {
  padding: 10px 50px;
}

.main-nav ul li a {
  font-size: 1.2rem;
}

.active {
  text-decoration: underline;
}

.hide {
  display: none;
}

a:hover {
  color: #e93801;
  transition: 0.4s;
}

.cta {
  background-color: #e93801;
  color: #ffffff;
  font-size: 1em;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 10px;
}

.search-box {
  top: 20px;
  height: 30px;
  border-radius: 40px;
  padding: 12px;
  background: #e93801;
}

.search-box:hover > .search-txt {
  width: 100px;
  padding: 0 6px;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  color: #ffffff;
  font-size: 14px;
  transition: 0.4s;
  line-height: 30px;
  width: 0px;
}

.search-btn {
  color: #ffffff;
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #e93801;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hamburger-hamburger,
.hamburger {
  display: none;
}

main {
  padding: 10vh 20% 10vh 10%;
  margin: auto;
}

/* Home page */
.news {
  padding-top: 0vh;
  margin-top: 0vh;
}
.news,
.trending {
  display: grid;
  grid-gap: 10px;
  max-width: 1800px;
}

.news h1,
.trending h2 {
  grid-column: -1/1;
}

.news img {
  width: 100%;
}

.trending img {
  width: 100%;
}

img:hover {
  -ms-transform: scale(0.1);
  transform: scale(1.1);
}

/* Search page */

.search {
  padding-top: 10vh;
  margin: auto;
}

.search h1,
h2 {
  color: #000;
  font-size: 1rem;
}

.product_item {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  max-width: 800px;
}

.product_img img {
  max-width: 100%;
}

.product_info h2 {
  font-size: 1.5rem;
}

.number {
  color: #e93801;
}

/* Create_account page */

.form__input,
.message {
  display: block;
  width: 90%;

  padding: 12px 20px;
  margin-bottom: 10px;
  border: 2px solid #e93801;
  border-radius: 10px;
}

input[type="submit"] {
  background-color: #e93801;
  border: none;
  color: #ffffff;
  padding: 16px 32px;
  margin: 4px 2px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1em;
  text-transform: uppercase;
}

.message {
  min-height: 25vh;
}

/* checkout page */
.content h1,
h2 {
  font-size: 2rem;
  color: #000;
  text-shadow: none;
  margin: 10vh auto 2.5vh auto;
}

.cart-wrapper {
  display: grid;
  grid-template-columns: auto auto;
}

.cart-wrapper input {
  max-width: 30px;
  max-height: 20px;
  margin-top: 10px;
}

.cart_price {
  display: grid;
  grid-template-columns: auto auto;
}
.cart_price p {
  margin-left: 5px;
  padding-right: 90px;
}

.shipping,
.total {
  display: flex;
  justify-content: space-between;
}

.payment p {
  margin-top: 0;
}

.payment h2 {
  margin-bottom: 0px;
}

.billing_wrapper {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-areas:
    "name name"
    "address address"
    "city city"
    "zip country";
}

.payment label {
  text-transform: uppercase;
  font-size: 0.8rem;
}

.name {
  grid-area: name;
}
.address {
  grid-area: address;
}
.city {
  grid-area: city;
}
.zip {
  grid-area: zip;
}
.country {
  grid-area: country;
}

.credit_info_wrapper {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-areas:
    "card card "
    "card_name card_name "
    "cvc cvc "
    "date month ";
}

.card {
  grid-area: card;
}

.card_name {
  grid-area: card_name;
}

.date {
  grid-area: date;
}

.month {
  grid-area: month;
}

.cvc {
  grid-area: cvc;
}

.checkout_submit {
  float: right;
}

/* checkout_succsess page */

.checkout_succsess {
  max-width: 400px;
  margin: 20vh auto;
}

.checkout_succsess img,
h1,
p {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* media queries */

@media only screen and (max-width: 1387px) {
  .banner {
    position: fixed;
    display: flex;
    justify-content: center;
    align-content: center;
    background-image: none;
    background: #6c6666;
    width: 100%;
  }

  .top-nav {
    display: block;
    position: fixed;
    cursor: pointer;
    right: 10px;
    margin-top: 0px;
  }

  .logo-img {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .hide {
    display: block;
  }

  .hide-hamburger {
    display: none;
  }

  .hamburger-nav {
    display: block;
    position: fixed;
    cursor: pointer;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    padding: 40px;
  }

  #hamburger-hamburger {
    display: none;
    position: fixed;
    cursor: pointer;
  }

  .main-nav {
    display: none;
    border: 0;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
  }

  .main-nav ul {
    flex-direction: column;
    align-content: left;
    background: #6c6666;
    transition: 0.4s;
    height: 100%;
    width: 100%;
  }

  #hamburger-hamburger:checked ~ nav {
    display: block;
  }
}

@media only screen and (min-width: 600px) {
  .news,
  .trending {
    grid-template-columns: repeat(2, 1fr);
  }
  .search h1 {
    font-size: 2rem;
  }

  .product_item {
    flex-direction: row;
  }

  .search {
    padding-top: 5vh;
    margin: auto;
  }

  .product_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: -25px 0 25px 5px;
  }

  .product_info h2 {
    font-size: 2rem;
  }

  .product_img img {
    min-width: 200px;
  }
  .product_price {
    justify-self: flex-end;
  }
}

@media only screen and (min-width: 668px) {
  /* checkout page */
  .content {
    min-width: 600px;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }

  .cart {
    margin-right: 50px;
  }

  .checkout_submit {
    margin-right: 50px;
  }
}

@media only screen and (min-width: 1200px) {
  /* index page */
  .news,
  .trending {
    grid-template-columns: repeat(3, 1fr);
  }
  /* search page */
  .search h1 {
    font-size: 4rem;
  }

  .form__input,
  .message {
    width: 50%;
  }

  /* checkout page */

  .payment_form {
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: space-between;
  }

  .payment input[type="submit"] {
    padding: 20px 60px;
  }
  .checkout_submit {
    margin-right: 50px;
  }
  .payment {
    min-width: 600px;
  }

  .credit_info_wrapper {
    min-width: 300px;
  }
  .billing_wrapper {
    min-width: 300px;
  }
}

@media only screen and (min-width: 1382px) {
  main {
    padding: 35vh 20% 10vh 10%;
  }
  .search {
    padding-top: 0vh;
  }
}
