@import url("cart.css");
@import url("checkout.css");


body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  position: fixed;
  width: 100%;
  color: #ffffff;
  max-height: 65vh;
  z-index: 1;
}

footer,
.main-nav {
  background-color: #6c6666;
  color: #ffffff;
  width: 100%;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

a {
  text-decoration: none;
  color: #ffffff;
}

h1,
h2 {
  font-size: 1.2rem;
  color: #000000;
  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000; */
  margin-bottom: 0;
}

.breadcrumbs {
  margin-top: 20px;
}

.breadcrumbs a {
  text-transform: uppercase;
  font-size: 0.6rem;
  font-style: italic;
  color: #272727;
}

.banner-image {
  display: flex;
  justify-content: space-between;
  padding: 10px 100px;
}

.banner {
  background-image: url("../images/background2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

nav li {
  padding: 10px 20px;
  list-style: none;
  text-decoration: none;
  display: inline-block;
}

.top-nav {
  justify-items: flex-end;
  margin-right: 10px;
}

.main-nav ul {
  margin: 0 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-nav li {
  padding: 10px 50px;
}

.main-nav ul li a {
  font-size: 1.2rem;
}

.active {
  text-decoration: underline;
}

.hide {
  display: none;
}

a:hover {
  color: #e93801;
  transition: 0.4s;
}

.submit:hover {
  color:#161616;
  font-weight: bold;
  transition: 0.4s
}

.cta {
  background-color: #e93801;
  color: #ffffff;
  font-size: 1em;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 10px;
}

.search-box {
  top: 20px;
  height: 30px;
  border-radius: 40px;
  padding: 12px;
  background: #e93801;
}

.search-box:hover > .search-txt {
  width: 100px;
  padding: 0 6px;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  color: #ffffff;
  font-size: 14px;
  transition: 0.4s;
  line-height: 30px;
  width: 0px;
}

.search-btn {
  color: #ffffff;
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #e93801;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hamburger-hamburger,
.hamburger {
  display: none;
}

.notActive {
  cursor: default;
  pointer-events: none;
}

main {
  padding: 10vh 20% 10vh 10%;
  margin: auto;
}

/* Home page */
.news,
.trending {
  display: grid;
  grid-gap: 10px;
  max-width: 1800px;
  overflow: hidden;
}

.news h1,
.trending h2 {
  grid-column: -1/1;
}

.news-img {
  width: 100%;
  overflow: hidden;
}

.news-img img {
  width: 100%;
  object-fit: cover;
  transition: all 0.4s ease-out;
}

.news-img img:hover {
 transform: scale(1.2);
}

/* Search page and new_games*/

.product_item {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 800px;
  background-color: #6c6666;
  color: #ffffff;
  margin: 20px;
}

.product_item h2 {
  color: #ffffff;
  font-size: 2rem;
}

.product_img {
  width: 45%;
}

.product_img img {
  max-width: 100%;
}

.number {
  color: #e93801;
}
.paymentForm {
  width: 100%;
}

.paymentFormInput {
  display: block;
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 10px;
  border: 2px solid #e93801;
  border-radius: 10px;
}

.form__input,
.message
{
  display: block;
  width: 90%;
  padding: 12px 20px;
  margin-bottom: 10px;
  border: 2px solid #e93801;
  border-radius: 10px;
}


.validation a {
  color: #000;
}



input[type="submit"], 
.button {
  background-color: #e93801;
  border: none;
  color: #ffffff;
  padding: 16px 32px;
  margin: 4px 2px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1em;
  text-transform: uppercase;
}

.button:disabled {
  background-color: #e9370157;
  cursor: none;

}

.message {
  min-height: 25vh;
}

/* checkout page */
.content h1,
.content h2 {
  color: #000;
  text-shadow: none;
  
}

.cart-wrapper {
  display: grid;
  grid-template-columns: auto auto;
}

.cart-wrapper input {
  max-width: 30px;
  max-height: 20px;
  margin-top: 10px;
}

.cart_price {
  display: grid;
  grid-template-columns: auto auto;
}
.cart_price p {
  margin-left: 5px;
  padding-right: 90px;
}

.shipping{
  display: flex;
  justify-content: space-between;
}

.payment p {
  margin-top: 0;
}

.payment h2 {
  margin-bottom: 0px;
}

.billing_wrapper {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-areas:
    "name name"
    "address address"
    "city city"
    "zip country";
}

.payment label {
  text-transform: uppercase;
  font-size: 0.8rem;
}

.name {
  grid-area: name;
}
.address {
  grid-area: address;
}
.city {
  grid-area: city;
}
.zip {
  grid-area: zip;
}
.country {
  grid-area: country;
}

.credit_info_wrapper {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-areas:
    "card card "
    "card_name card_name "
    "cvc cvc "
    "date month ";
}

.card {
  grid-area: card;
}

.card_name {
  grid-area: card_name;
}

.date {
  grid-area: date;
}

.month {
  grid-area: month;
}

.cvc {
  grid-area: cvc;
}

.checkout_submit {
  float: right;
}

/* checkout_succsess page */

.checkout_succsess {
  margin: 40px auto;
  text-align: center;
}

.checkout_succsess h1 {
  font-size: 1rem;
}

.img_succsess {
  display: none;
}

/* media queries */

@media only screen and (max-width: 1387px) {
  .banner {
    position: fixed;
    display: flex;
    justify-content: center;
    align-content: center;
    background-image: none;
    background: #6c6666;
    width: 100%;
  }

  .top-nav {
    display: block;
    position: fixed;
    cursor: pointer;
    right: 10px;
    margin-top: 0px;
  }

  .logo-img {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .hide {
    display: block;
  }

  .hide-hamburger {
    display: none;
  }

  .hamburger-nav {
    display: block;
    position: fixed;
    cursor: pointer;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    padding: 40px;
  }

  #hamburger-hamburger {
    display: none;
    position: fixed;
    cursor: pointer;
  }

  .search-box {
    top: 20px;
    height: 30px;
    padding: 0 6px;

    border-radius: 40px;
    padding: 12px;
    background: #6c6666;
  }
  .search-box:hover > .search-txt {
    width: 100px;
    padding: 0 6px;
    display: inline;
  }

  .search-txt {
    border: none;
    background: #ffffff;
    outline: none;
    color: #6c6666;
    border-radius: 20px;
    display: none;
  }

  .search-btn {
    color: #ffffff;
    background: #6c6666;
  }

  .main-nav {
    display: none;
    border: 0;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
  }

  .main-nav ul {
    flex-direction: column;
    align-content: left;
    background: #6c6666;
    transition: 0.4s;
    height: 100%;
    width: 100%;
  }

  #hamburger-hamburger:checked ~ nav {
    display: block;
    width: 100vw;
    height: 100vh;
  }
}


/* contact */
.form-error {
  display: none;
  color: red;
}

.validation {
  display: none;
}

@media  only screen and (max-width: 375px){
  .main-nav {
    position: relative;
    top: -18px;
  }
  
}
@media  only screen and (min-width: 410px) and (max-width: 550px) {
  .main-nav {
    position: relative;
    top: -10px;
  }
  
}

@media only screen and (min-width: 600px) {
  .search {
    padding-top: 5vh;
    margin: auto;
  }

 h1,
 h2 {
    font-size: 2rem;
  }

  /* index page */
  .news,
  .trending {
    grid-template-columns: repeat(2, 1fr);
  }

  /* new_games page */
  .product_item {
    flex-direction: row;
  }

  .product_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: -25px 0 25px 5px;
  }

  .product_img img {
    min-width: 200px;
  }
  .product_price {
    justify-self: flex-end;
  }
}

@media only screen and (min-width: 668px) {
  /* checkout page */
  .content {
    min-width: 600px;
    display: flex;
    justify-content: space-between;
  }

  .cartContent {
    display: block;
  }

  .cart {
    margin-right: 50px;
  }

  .checkout_submit {
    margin-right: 50px;
  }
  


@media only screen and (min-width: 1200px) {
  /* index page */
  .news,
  .trending {
    grid-template-columns: repeat(3, 1fr);
  }
  h1,
  h2 {
     font-size: 4rem;
   }
  /* search page */

  .form__input,
  .message
   {
    width: 50%;
  }

  /* checkout page */

  .payment_form {
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: space-between;
  }

  .payment input[type="submit"] {
    padding: 20px 60px;
  }
  .checkout_submit {
    margin-right: 50px;
  }
  .payment {
    min-width: 600px;
  }

  .credit_info_wrapper {
    min-width: 300px;
  }
  .billing_wrapper {
    min-width: 300px;
  }

@media only screen and (min-width: 1382px) {
  main {
    padding: 27vh 20% 10vh 10%;
  }
  .search {
    padding-top: 0vh;
  }

}

@media only screen and (min-width: 1390px) {
   .breadcrumbs {
    margin-top: 80px;
  }
}