body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

main {
  padding: 0 100px;
}
header {
  /* position: sticky; */
  color: #ffffff;
}

footer,
.main-nav {
  background-color: #6c6666;
  color: #ffffff;
  width: 100%;
  /* min-height: 40px; */
}

a {
  text-decoration: none;
  color: #ffffff;
}

h1 {
  font-size: 4rem;
  color: #e93801;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  margin-bottom: 0;
}

.banner-image {
  display: flex;
  justify-content: space-between;
  padding: 10px 100px;
}

.banner {
  background-image: url("../images/background2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

nav li {
  padding: 10px 20px;
  list-style: none;
  text-decoration: none;
  display: inline-block;
}

.top-nav {
  justify-items: flex-end;
  margin-right: 10px;
}
.test {
  display: none;
}
.main-nav ul {
  margin: 0 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-nav li {
  padding: 10px 50px;
}

.main-nav ul li a {
  font-size: 1.2rem;
}

.active {
  text-decoration: underline;
}

.hide {
  display: none;
}

a:hover {
  color: #e93801;
  transition: 0.4s;
}

.search-box {
  top: 20px;
  height: 30px;
  border-radius: 40px;
  padding: 12px;
  background: #e93801;
}

.search-box:hover > .search-txt {
  width: 100px;
  padding: 0 6px;
}
.search-btn {
  color: #ffffff;
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #e93801;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  color: #ffffff;
  font-size: 14px;
  transition: 0.4s;
  line-height: 30px;
  width: 0px;
}

/* Home page */

.news {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 10px;
  max-width: 1800px;
}

.news h1 {
  grid-column: -1/1;
}

.news img {
  width: 100%;
}

.trending {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.trending h1 {
  grid-column: -1/1;
}

.trend-img {
  max-width: 100%;
  max-height: 480px;
}

/* media queries */

@media only screen and (max-width: 1399px) {
  .banner {
    position: fixed;
    display: flex;
    justify-content: center;
    align-content: center;
    background-image: none;
    background: #6c6666;
    width: 100vw;
  }

  .top-nav {
    display: block;
    position: fixed;
    cursor: pointer;
    right: 10px;
    margin-top: 0px;
  }

  .test {
    display: block;
  }

  .logo-img {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .hide {
    display: block;
  }

  .hide-hamburger {
    display: none;
  }

  .hamburger-nav {
    display: block;
    background: #6c6666;
    position: fixed;
    cursor: pointer;
  }

  .hamburger {
    cursor: pointer;
    padding-left: 10px;
    padding-top: 40px;
  }

  #hamburger-hamburger {
    display: none;
    position: fixed;
    cursor: pointer;
    padding-left: 10px;
    padding-top: 30px;
  }
  .main-nav {
    display: none;
    border: 0;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
  }

  .main-nav ul {
    flex-direction: column;
    align-content: left;
    background: #6c6666;
    transition: 0.4s;
    height: 100%;
    width: 100%;
  }

  #hamburger-hamburger:checked ~ nav {
    display: block;
  }

  /* media queries home page*/

  main {
    padding-top: 10vh;
  }
}
